ul {
    padding: 0;
}
li {
    list-style-type: none;
    text-align: center;
}

a {
    color: rgb(37, 37, 37);
}

a:hover {
    text-decoration: none;

}

.active {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

.city:hover {
    cursor: pointer;
    color: royalblue;
}
